.summary {
  background-color: #e3e3e3;
}

.ant-table-summary {
  .ant-table-cell {
    padding: 12px !important;
    background-color: #e3e3e3;
  }
}

.customer-table {
  .ant-input {
    text-align: center;
  }

  pre {
    margin: 0;
  }

  .header-tags-wrap {
    display: flex;
    flex-direction: row;

    .header-tag-left {
      flex: 1;
    }
  }

  .filter-cell-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .ant-table-cell {
    position: relative;
    padding: 0;
  }

  .editable-cell-text-wrapper {
    padding: 16px;
  }
}
