@import './vars';

.@{theme-name} .ant-input {
  background-color: @input-bg-color;

  &-affix-wrapper {
    background-color: @input-bg-color;
    border: @input-border-transparent;
    box-shadow: none;

    &-focused {
      border: @input-border-highlight;

      .ant-input-suffix {
        svg {
          fill: @primary-color;
        }
      }
    }

    & > input {
      background-color: @input-bg-color;
      color: @input-font-color;
    }

    &:hover {
      border: @input-border-highlight;
      box-shadow: none;

      .ant-input-suffix {
        svg {
          fill: @primary-color;
        }
      }
    }

    &:focus {
      box-shadow: none;
      border: @input-border-highlight;
    }

    &:not(.ant-input-affix-wrapper-disabled):hover {
      border-color: @primary-color;
    }
  }

  &-number-handler-wrap {
    .ant-input-number-handler.ant-input-number-handler-up {
      &:hover {
        background-color: @primary-color;

        svg {
          fill: #fff;
        }
      }
    }

    .ant-input-number-handler.ant-input-number-handler-down {
      &:hover {
        background-color: @primary-color;

        svg {
          fill: #fff;
        }
      }
    }
  }
}
