@import './vars';

.@{theme-name} .ant-select {
  &:not(.ant-select-customize-input) {
    .ant-select-selector {
      background-color: @input-bg-color;
      border: none;
      box-shadow: none;
    }
  }

  &:hover,
  &-focused {
    .ant-select-selector {
      border: @input-border !important;
      box-shadow: none !important;
    }

    .ant-select-clear,
    .ant-select-arrow {
      svg {
        fill: @primary-color;
      }
    }
  }

  &-selection-overflow-item {
    & > .ant-select-selection-item {
      background-color: #e6e6e6;
    }
  }

  &-item {
    &-option {
      &-active:not(&-disabled) {
        background-color: @primary-1;
      }

      &-selected:not(&-disabled) {
        background-color: @primary-2;
      }
    }
  }

  &-tree-checkbox.ant-select-tree-checkbox-indeterminate {
    .ant-select-tree-checkbox-inner {
      position: relative;
      display: block;
      width: 16px;
      height: 16px;
      background-color: @primary-color;

      &::after {
        position: absolute;
        top: 7px;
        left: 7px;
        width: 8px;
        height: 2px;
        background-color: #fff;
      }
    }
  }
}
